<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!--<script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>-->
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <meta charset="UTF-8"/>
    <title>书籍详情</title>
    <style>
        span{
            margin-top: 30px;
        }
        .author{
            font-size: 20px;
        }
        .info{
            margin-top: 30px;
        }
        .picture{
            width: 150px;
            height: 200px;
        }
    </style>
</head>

<body>
<div class="container">
    <h3>Spring Data JPA练习 </h3>
    <legend>
        <strong>书籍详情</strong>
    </legend>
    <div class="col-md-12 alert alert-success">
        <div style="margin-left: 30px">
            <h3 th:text="${book.name}"></h3>
        </div>
        <div>
            <div class="col-lg-4 cardright">
                <img th:src="${book.picture}" class="picture">
            </div>
            <div class="col-lg-8 cardleft">
                <p th:text="${book.author}" class="author"></p>
                <span th:text="${book.type}"></span>
                <p th:text="${book.info}"class="info"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>